:root{
    --pink:#e84393;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background-color: black;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;;
}
header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(0, 0, 0);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .navbar a
{
    font-size: 2rem;
    padding:0 1.5rem;
    color: var(--pink);
}
header .logo
{
    font-size: 3rem;
    color: var(--pink);
    font-weight: bolder;
}
header .logo span
{
    color: var(--pink);
}
header .navbar a:hover
{
   color:white;
}
header #toggler
{
    display: none;
}
header .fa-bars
{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}
section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 8rem;
    background: var(--main-color)
}
.home-content img{
    width: 70%;
    margin-left: 20rem;

     
}
.home-content p{
    font-size:25px;
    color: white;
}
.home-content h3 {
    font-size: 3rem;
    margin-bottom: 1px;
    font-weight: 500;
    color: white;
}
.home-content h4 {
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
}
.home-content a{
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.home span{
    color:var(--pink);
}

.heading{
    text-align: center;
    font-size: 4rem; 
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    margin-top: 1rem;
}
.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--pink);
}
.{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
}
.content img{
    width: 42rem;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(210, 211, 211, 0.616);
    margin-bottom: 12%;
}
.content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 8rem;
    color: white;
    background: var(--main-color);
    margin-bottom: 10rem;
}
.content p{
    font-size: 2rem;
    font-weight: 6rem;
    margin-bottom: 20%;
}
.social a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: 0.2rem solid var(--main-color);
        font-size: 2rem;
        border-radius: 50%;
        color: var(--main-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
}
.social i:hover{
    transition:all ease 0.5s;
    transform: .5s;
    color: white;
}
.social i{
    font-size:20px;
    color:var(--pink);
    margin-right: 100rem;
    margin-top: 10rem;
}
.cards {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: black;
}
.card {
    background-color: black;
    width: 21.25em;
    box-shadow: 0 5px 25px white;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1); 
}
.icon {
    color: var(--pink);
    font-size: 8em;
    text-align: center;
}

.info h3 {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info {
    text-align: center;
}

.info h3 {
    text-decoration: none;
    color: #ffffff;
}

.info h3:hover {
    color: #999ca3;
}


.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: black;
    border-radius: 0.8rem;
    border: 2px solid var(--pink);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .media-sosial {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .media-sosial a {
    font-size: 25px;
    color: var(--pink);
    border: 2px solid black;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .media-sosial a:hover {
    transform: scale(1.2)translateY(-5px);
    background: white;
    color: var(--main-color);
}


.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}


@media (max-width:1000px) {
    .home {
        gap: 4rem;
    }
}
@media (max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

}

